/*
colours.neilorangepeel.com
https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048

selector {
    property: value;
    anotherproperty: value;
}

https://www.cssfontstack.com/
font-em-size: https://developer.mozilla.org/en-US/docs/Web/CSS/font-size
https://fonts.google.com

*/

/* basic selectors Element */

* {
  font-family: 'Josefin Slab', serif;
}

#title {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  margin: 20px;
}

.title {
    letter-spacing: 20px;
    font-size: 28px;
}

.title_icon {
  letter-spacing: 20px;
}

#nav-table {
  width: 100%;
  text-align: center;
}

.btn-lg {
  width: 100% !important;
}

h2 {
    color: rgb(255, 0, 119);
}

h4 {
    color: rgba(165, 42, 42, 0.89);
    padding-top: 30px;
}

nav {
  margin-bottom: 20px;
}

img {

}
/* p {
    width: 50%;
    border: 2px solid blue;
    padding-left: 40px;
    margin: 20px 20px;
} */

/*
li.museumName {
  border: 2px solid red;
}
*/

/* id */

#foodform{
    /*background-image: url("IMG_0292.jpg");*/
    background-size: contain;
   }


/* Star : Every single Element */

/* Descendent Selectors
when one tag is inside (and inside and inside...) of other parent tags
*/
div form {
    margin-top: 50px;
}

/* Adjacent Selectors
not under one another. applies to the latter tag which comes just right after the posterior tag
*/
h3 + ul {
    border: 4px solid red;
}

/* Attribute Selector
help: https://stackoverflow.com/questions/16839747/this-css-not-working-for-radio-button-selection
*/
input[type=radio] + label {
    font-weight: bold;
}
