body {
    border: 10px solid #bdc3c7;
    font-family: Source Sans Pro, 'Nanum Myeongjo', serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    width: 80%; 
}

.date {
    color: #3498db;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-family: Source Sans Pro;
    font-size: 2em;
    color: #2c3e50;
    font-size: 2.5rem;
}

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.post {
    margin-bottom: 20px;
    /** replaced with <hr> tag
    padding-bottom: 10px; 
    border-bottom: 1px solid #e9e8e8fd;
    **/

}

/* Gradient transparent - color - transparent */
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
